.footer {
    background-color: var(--cor-fundo);
    padding: 20px 0;
    text-align: center;
}

.footer-container h4 {
    margin-bottom: 2rem;
    color: var(--cor-principal);
    font-weight: 700;
    font-size: 1.25rem;
}

.footer-menu {
    margin: 5px 0;
    color: var(--cor-texto-claro);
    text-decoration: none;
    transition: 0.3s ease-in;
}

.footer-menu:hover {
    color: var(--cor-principal);
}

.footer-copy {
    font-size: 0.75rem;
    color: var(--cor-secundaria);
    width: 100%;
}
